.page {
  display: block;
  justify-items: center;
  min-height: 100svh;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
}

.footer {
  
  display: flex;
  
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .footer {
    align-items: center;
    justify-content: center;
  }
}
